/* Estilos generales para la página */
li {
    list-style: none;
    padding: 0;
    text-align: center; /* Asegura que las imágenes estén centradas */
  }
  
  img {
    max-width: 90%; /* Se adapta al tamaño del contenedor */
    height: auto; /* Mantiene la relación de aspecto */
  }

  div{

    margin-bottom: 20vh;
    margin-top: 25vh;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  
  h1 {
    color: #ED9421;
    font-family: "Playwrite BE VLG", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw; /* Usar unidades relativas */
    margin-bottom: 0;
    text-align: center;
  }
  
  h2 {
    color: #ED9421;
    font-family: "Playwrite BE VLG", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw; /* Usar unidades relativas */
    margin-bottom: 0;
    text-align: center;
  }
  
  /* Estilo para el contenedor de bienvenida */
  .bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 12.5vh; /* Asegura que ocupe toda la altura de la ventana */
    width: 100%;
    padding: 20px;
    margin: 0;
  }
  
  h3 {
    margin: 0;
    font-size: 2vw; /* Usar unidades relativas */
    font-weight: bold;
  }
  
  p {
    font-size: 1.5vw; /* Usar unidades relativas */
    color: #555;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  /* Consultas de medios para pantallas más pequeñas */
  @media (max-width: 768px) {
    h1 {
      font-size: 8vw; /* Aumentar el tamaño en pantallas pequeñas */
    }
  
    h2 {
      font-size: 7vw; /* Aumentar el tamaño en pantallas pequeñas */
    }
  
    .bienvenida {
      padding: 15px; /* Ajustar el padding en pantallas pequeñas */
    }
  
    h3 {
      font-size: 7vw; /* Ajustar el tamaño del título */
    }
  
    p {
      font-size: 5vw; /* Ajustar el tamaño del párrafo */
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 10vw; /* Ajuste adicional en pantallas muy pequeñas */
    }
  
    h2 {
      font-size: 9vw; /* Ajuste adicional en pantallas muy pequeñas */
    }
  
    .bienvenida {
      padding: 10px; /* Reducir padding en pantallas muy pequeñas */
    }
  
    h3 {
      font-size: 8vw; /* Ajustar el tamaño del título */
    }
  
    p {
      font-size: 6vw; /* Ajustar el tamaño del párrafo */
    }
  }
  